div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  


* {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
#in-page-img {
    width: 100%;
    margin: 10 auto;
    display: block;
    border-radius: 15px;
 }

 #right-page-img{
    position: relative;
    width: 40%;
    right: 0.3%;
    border-radius: 15px;
    float: right;
    padding-left: 7%;
    
  }


#contact-text-left{

    padding-top: 7%;
    float: right;
    overflow:hidden;
    line-height:33%;
    color: black;
    font-size: large;
    font-weight: 520;
    text-align: right;
    margin-bottom: 8%;
    margin-right: 19.5%;
}

#videos {
    margin: 10 auto;
    display: block;
}
#show_button{
    
    display: block; 
    border-radius: 15px;
    padding: 9px 25px 9px 25px;
    background-color: #52d681;  
    font-size: large;
    margin: 4% auto;

    display: block;     
    
}
#home-text{
    display: none;
    position: relative;
    overflow:hidden;
    line-height:18px;
    color: black;
    width: 100%;
    font-size: large;
    font-weight: 520;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0; 

}
#home-context{
    
    position: relative;
    overflow:hidden;
    line-height:18px;
    color: black;
    width: 60%;
    font-size: large;
    font-weight: 520;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0; 

}

#contact-text{
    position: relative;
    overflow:hidden;
    line-height:100%;
    color: black;
    width: 60%;
    font-size: large;
    font-weight: 520;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0; 
}
.text {
    position: relative;
    overflow:hidden;
    line-height:18px;
    color: black;
    width: 58%;
    font-size: large;
    font-weight: 520;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0; 
}
.in-text{
    height: 17px;
}
@font-face {
    font-family: SecularOne-Regular;
    src: url('פונטים/Secular_One/SecularOne-Regular.ttf') format('truetype'); 
  }  

@font-face {
    font-family: Abraham-Regular;
    src: url('פונטים/Abraham/Abraham/Abraham-Regular.ttf') format('truetype'); 
  }  

@font-face {
    font-family: SuezOne-Regular;
    src: url('פונטים/Suez_One/SuezOne-Regular.ttf') format('truetype'); 
  }  

.topline {
    text-align: center;         
    overflow: hidden;
    height: auto;
    background-color: #fffce1F0;
    padding-top: 0%;
    padding-bottom: 0%;
}   
.topline img{

    margin-right: 5%;
    float: right;
    margin-bottom: 0.3%;
    margin-top: 0.3%;
    text-align: center;
    width: 8%;
    
  }

.topline a {

    font-family: SecularOne-Regular;
    width: 70%;
    height: auto;
    text-align: center;
    color: #52d681;
    text-decoration: none;
    font-size: 270%;
    float: right;
    display: block;
    margin: auto;
    padding: 1.8%;

}

.topline .line-end{
    color: #00ad7c;
    font-size: 120%;
    font-family: SuezOne-Regular;
    margin-right: 0.5%;
}

#topbar {
    z-index:1;
    width: 100%;
    height: 55;
    float: inline-end;
    text-align: center;          
    background-color: #00ad7c;
    list-style-type: none;
    
    position: sticky;
    top: 0;

}

.sticky {
    position: fixed;
    top: 0;
}
  
#topbar a {
    
    display: inline-block;
    list-style: none;
    
    
    height: 55;
    
    border-radius: 8px;
    
    color: #ffffff;
    margin: auto;

    top: 0;

    padding-bottom: 0%;
    padding-top: 0%;
    padding-left: 4%;
    padding-right: 4%;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    font-size: 40;
}


#topbar a:hover {
    background-color: #fff8b581;
    color: black;
}


#topbar a.active {
    background-color: #fff8b581;
    color: black;
}

body{

    background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url("תמונות/background-1.png");
    background-repeat: repeat;

    background-color: #ffffff;
    margin: 0;
}
